nav.navbar.navbar-inverse.navbar-static-top
  div.container-fluid

    div.navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#advisor-menu", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Investment Advisor

    div.collapse.navbar-collapse#advisor-menu
      ul.nav.navbar-nav
        li.active
          a(href="/") My Notes
        li
          a(href="/find") Find

      a.navbar-btn.pull-right.btn.btn-primary(
        href="/update-data"
      ) Update Data
